html{
    font-family:Arial, Helvetica, Sans-Serif;
    color:violet;
    
}

.container{ width:80%; margin:auto;
    
}
.time-estimate 
  { 
      color:violet;
    font-weight:bold;
    font-size:12px;
    font-style:oblique;
    border-radius:60px;
    padding:2px 8px 2px 8px;
    background-color:#ff00bf;
    margin-bottom:25px;
    border:2px solid teal; 
}
li{background-color:#4dffff;
color:white;
    margin-bottom: 10px;
    padding:5px 10px 5px 10px;
    border:2px solid white;
    border-radius:5px;

}

 h1{
     text-align:center;
     }

     ul{
         list-style:none;
         padding:5px;
         margin:10px;
         box-shadow:10px 10px 5px #4dffff;
         
     }
     
    #Roses{ float:right;
        width:80px; 
        height:20px;
    }
    #img-div{
        width:93%;
        margin:auto;}
#todo-list{ float:right;
    width:45%;
    padding: 10px;
    box-sizing: border-box;
}
#iframe{ float:left;
    width:50%;
    padding: 10px;
    box-sizing: border-box;
    
}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur205.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur205.png), progress !important;} /* End http://www.cursors-4u.com */